//Colors
$color-light-blue: #7898af;
$color-med-blue: #334155;

$color-light-gray: #e2e2e4;
$color-med-gray: #a9a9a9;
$color-dark-gray: #626262;

$color-white: #ffffff;
$color-black: #20212d;
$color-off-black: #393b3d;




