@import '../abstracts/variables';
@import '../abstracts/mixins';

.row {
  max-width: $grid-width;
  background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clear-fix;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background-color: #7898af;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }


}